<extend name="Home@Base/common" />
<block name="body">
  <div class="span9 page_message">
    <section id="contents"> 
       <include file="Home@Addons/_nav" /> 
      <if condition="$add_button || $del_button || $search_button || !empty($top_more_button) || !empty($muti_search)">   
      <!-- 导出EXCEL按钮 -->
	   <div class="table-bar">
         <div class="fl tools">
	        <volist name="top_more_button" id="vo">
                <if condition="isset($vo['is_buttion']) and $vo['is_buttion']">
                <button class="btn {$vo.class}" target-form="ids" url="{$vo.url}">{$vo.title}</button>
                <else />
                <a class="btn" href="{$vo.url}">{$vo.title}</a>
                </if>
                &nbsp;
            </volist>  
         </div>
	
		  <volist name='nav' id='vo'>
				<input id='hidurl' type='hidden' value= {$vo.url} /> 
		   </volist>

		 <!-- 按条件查询按钮 -->
	     <div class="search-form fr cf">
		   <div class="sleft"  style="height:28px; align-text:center; margin-right:5px">
				<input class="sradio" name="qc" type="radio" value="全部" checked="checked">全部</input>
				<input class="sradio" name="qc" type="radio" value="班级编号">班级编号</input>
				<input class="sradio" name="qc" type="radio" value="姓名">姓名</input>
			   </div>
		   <div class="sleft" >
             <php> $get_param['model']=$model['name']; $search_url || $search_url = U(MODULE_NAME.'/'.CONTROLLER_NAME.'/lists', $get_param);</php>
             <php>empty($search_key) && isset($model['search_key']) && $search_key=$model['search_key'];empty($search_key) && $search_key='title';</php>
             <input type="text" id="input1" name="inputqc" class="search-input" value="{:I($search_key)}" placeholder="请输入查询条件">
             <a class="sch-btn" href="javascript:;" id="search1" url="{$search_url}"><i class="btn-search"></i></a> </div>
	
          </div>		
		</div>
     </if>
    
      <!-- 数据列表 -->
     <php>$now_by = I('by','asc'); if($now_by=='asc'){ $next_by = 'desc'; $by_icon = '<i class="sort_up"></i>'; } else { $next_by = 'asc'; $by_icon = '<i class="sort_down"></i>'; }</php>
         
	 <div class="data-table">
        <div class="table-striped">
		 <div style="width:100%; height:600px; overflow:scroll;">
          <table cellspacing="1" class="table2">
            <!-- 表头 -->
            <thead>
              <tr>
                <if condition="$check_all"><th class="row-selected row-selected"> <input autocomplete="off"  type="checkbox" id="checkAll" class="check-all regular-checkbox"><label for="checkAll"></label></th></if>
                <volist name="list_grids" id="field">
                  <th <notempty name="field.width">style="width:{$field.width}px"</notempty> >
                  <notempty name="field.is_sort">
                  <php>
				  
                  $get_param['order'] = $field['name'];
                  $get_param['by'] = $next_by; 
                  $show_by = ''; 
                  $now_order = I('order'); 
                  if($now_order==$field['name']){
                     $show_by = $by_icon;
                  }
                  $order_url = U(MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME, $get_param);
                  </php>
                  <a href="{$order_url}" class="desc">{$field.title} {$show_by}</a>
                  <else />{$field.title}
                  </notempty></th>
                </volist>
              </tr>
            </thead>
            
            <!-- 列表 -->
            <tbody>
              <volist name="list_data" id="data">
                <tr>
                  <if condition="$check_all"><td><input autocomplete="off"  class="ids regular-checkbox" type="checkbox" value="{$data['id']}" name="ids" id="check_{$data['id']}"><label for="check_{$data['id']}"></label></td></if>
                  <volist name="list_grids" id="grid">
                    <td>{$data[$key]}</td>
                  </volist>
                </tr>
              </volist>
            </tbody>
          </table>
		  </div>
        </div>
      <div class="page"> {$_page|default=''} </div>
    </section>
  </div>
</block>

<block name="script"> 
 <script type="text/javascript">
$(function(){
    var url = $(this).attr('url');	
	var qc=null; 
	var query2="";
	$("#hidurl").attr("value",url);
	$("#search1").click(function(){
	url = $("#hidurl").val();	
	qc=$("input[name='qc']:checked").val();
	var str = $('#input1').val().replace(/(^\s*)|(\s*$)/g,"");
	if(qc=='全部'){
	  url = $("#hidurl").val(); 
	}else if(qc=='班级编号'){
	  query2='classid='+str;
	  url=url+'&'+query2;  
	}else if(qc=='姓名'){
	  query2='regname='+str;
	  url=url+'&'+query2;  
	} 
	 
      window.location.href = url;  	
    
      
	})
  }); 
 
</script>
</block>
