<script type="text/ng-template" id="widget-header-display.html">
	<include file="./Application/Home/View/DiyTemplate/header.html"/>
</script>
<script type="text/ng-template" id="widget-richtext-display.html">
	<include file="./Application/Home/View/DiyTemplate/richtext.html"/>
</script>
<script type="text/ng-template" id="widget-goods-display.html">
	<include file="./Application/Home/View/DiyTemplate/goods.html"/>
</script>
<script type="text/ng-template" id="widget-mutipic_goods-display.html">
  <include file="./Application/Home/View/DiyTemplate/mutipic_goods.html"/>
</script>
<script type="text/ng-template" id="widget-banner-display.html">
	<include file="./Application/Home/View/DiyTemplate/banner.html"/>
</script>
<script type="text/ng-template" id="widget-mutipic_banner-display.html">
	<include file="./Application/Home/View/DiyTemplate/mutipic_banner.html"/>
</script>
<script type="text/ng-template" id="widget-piclist-display.html">
	<include file="./Application/Home/View/DiyTemplate/piclist.html"/>
</script>
<script type="text/ng-template" id="widget-blank-display.html">
	<include file="./Application/Home/View/DiyTemplate/blank.html"/>
  </script>
 <script type="text/ng-template" id="widget-title-display.html">
	<include file="./Application/Home/View/DiyTemplate/title.html"/>
  </script>
  <script type="text/ng-template" id="widget-textnav-display.html">
	<include file="./Application/Home/View/DiyTemplate/textnav.html"/>
  </script>
   <script type="text/ng-template" id="widget-picnav-display.html">
	<include file="./Application/Home/View/DiyTemplate/picnav.html"/>
  </script>
  <script type="text/ng-template" id="widget-searchgoods-display.html">
	<include file="./Application/Home/View/DiyTemplate/searchgoods.html"/>
  </script>
  <script type="text/ng-template" id="widget-blankline-display.html">
	<include file="./Application/Home/View/DiyTemplate/blankline.html"/>
  </script>
  <script type="text/ng-template" id="widget-case-display.html">
	<include file="./Application/Home/View/DiyTemplate/case.html"/>
  </script>
  <script type="text/ng-template" id="widget-notice-display.html">
	<include file="./Application/Home/View/DiyTemplate/notice.html"/>
  </script>
  <script type="text/ng-template" id="widget-usercenter-display.html">
	<include file="./Application/Home/View/DiyTemplate/usercenter.html"/>
  </script>
  <script type="text/ng-template" id="widget-goodsdetail-display.html">
	<include file="./Application/Home/View/DiyTemplate/goodsdetail.html"/>
  </script>
<script type="text/ng-template" id="widget-fixedmodule-display.html">
	<include file="./Application/Home/View/DiyTemplate/fixedmodule.html"/>
</script>